<!--The content below is only a placeholder and can be replaced.-->
<div fxLayout="row" fxLayoutAlign="start start" >
  <div fxFlex="none">
    <img src="../assets/images/Homer_Simpson.png">
  </div>
  <div fxLayout="column" fxLayoutAlign="start center">
    <div id="title">Hoy pasó en Los Simpson</div>
    <div fxLayout="column" fxFlexOffset=25 fxLayoutAlign="center center">
      <div id="character" fxFlex>{{character.name}}</div>
      <div id="character" fxFlex>{{character.birthDate}}</div>
    </div>
  </div>
</div>
