/* You can add global styles to this file, and also import other style files */
@font-face{
  font-family: simpsonfont;
  src: url(assets/typography/simpsonfont.otf)
}

body {
  background-image:  url("assets/images/clouds.png");
  font-family: simpsonfont;
  color: yellow;
}
